# Aula 1 : 18/jan/2017

import pandas as pd

In [ ]:
a = 3

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b = True

In [ ]:
b

In [ ]:
h = 'hello'
w = 'world'

In [ ]:
print(h,w)

In [ ]:
a + 4

In [ ]:
h + w

In [ ]:
b = 0.3

In [ ]:
type(b)

In [ ]:
a + b

In [ ]:
type(a+b)

In [ ]:
h.upper()

In [ ]:
h.capitalize()

## listas, conjuntos e dicionarios

In [ ]:
l = [3, 2, 0, -10]

In [ ]:
l[1]

In [ ]:
l[0:2]

In [ ]:
l[:2]

In [ ]:
l[2:]

In [ ]:
l[-1]

In [ ]:
l

In [ ]:
l.append(30)

In [ ]:
l

In [ ]:
l.remove(-10)

In [ ]:
l

In [ ]:
l

In [ ]:
del l[2]

In [ ]:
l

In [ ]:
c = {10, 20, 30, -10, 20}

In [ ]:
c

In [ ]:
list(c)

In [ ]:
set(l)

In [ ]:
d = {'a': -2, 'b': -3, 'c': -1000}

In [ ]:
d

In [ ]:
d['b']

In [ ]:
d = {0: 'a', 1: 'b', 'x': 3}

In [ ]:
d

In [ ]:
type(list(d.keys())[2])

In [ ]:
type(d['x'])

In [ ]:
type(d[0])

In [ ]:
d

In [ ]:
d['x']

In [ ]:
d.get('x', 0)

In [ ]:
a = [1,3,4]

In [ ]:
b = (1,3,4)

In [ ]:
a.append(4)

In [ ]:
a

In [ ]:
b.append(6)

# Aula 2 : 26/jan/2017

## loops

In [ ]:
range(5)

In [ ]:
for c in range(10): 
    print(c)

In [ ]:
c = [10, 20, 30, -10, 20]

In [ ]:
list(enumerate(c))

In [ ]:
for e in enumerate(c):
    print(e)

In [ ]:
for i, e in enumerate(c):
    print(i, e)

In [ ]:
d = [1, 10, -3, 0, 'abc']

In [ ]:
c

In [ ]:
d

In [ ]:
for e in zip(c, d, c):
    print(e)

In [ ]:
l = [1, 3, 5, 7, 9]

In [ ]:
list(range(2,10,3))

In [ ]:
l = []
for i in range(10):
    if i % 2 == 1: l.append(i)
print(l)

### list comprehension

In [ ]:
[ i for i in range(10) if i % 2 == 1 ]

In [ ]:
[ i if i % 2 == 1 else 0 for i in range(10)  ]

In [ ]:
b = True
a = 5 if b == True else 10
print(a)

In [ ]:
[[1,2,3], [2,3,4], [3,4,5]]

In [ ]:
[ [i + j for i in range(1,4)] for j in range(0,3)  ]

In [ ]:
[[1,0,0], [0,1,0], [0,0,1]]

In [ ]:
[[1 if i == j else 0 for i in range(3)] for j in range(3)]

In [ ]:
# [[[1 if i == j else 0 for i in range(3)] for j in range(3)] for k in range(3) ]

### dict comprehension

In [ ]:
s = 'abc'

In [ ]:
list(s)

In [ ]:
{ k: v for k, v in zip(list(s), range(3))  }

In [ ]:
list(zip(list(s), range(3)))

In [ ]:
{ k: v for k, v in [('a', 0), ('b', 1), ('c', 2)]  }

### Medindo tempo

In [ ]:
%timeit for _ in range(1000): True

In [ ]:
%%timeit 
for _ in range(1000): True

# Aulas 2 e 3 : 1/fev/2017 e 8/fev/2017

### funções

In [62]:
def media_aritmetica(a,b):
    return (a+b)/2

In [63]:
media_aritmetica(1,5)

3.0

In [64]:
def media_harmonica(a,b):
    if (a == 0) or (b == 0):
        return 0
    else:    
        return (2/(1/a + 1/b))

In [65]:
def media_geometrica(a,b):
    return ((a*b)**0.5)

In [66]:
media_geometrica(1,5)

2.23606797749979

In [67]:
media_harmonica(1,5)

1.6666666666666667

### classes

In [71]:
class media(object):
    
    def __init__(self):
        self.name = 'media'
    
    def aritmetica(self, a,b):
        return (a+b)/2
    
    def harmonica(self, a,b):
        if (a == 0) or (b == 0):
            return 0
        else:    
            return (2/(1/a + 1/b))
        
    def geometrica(self, a,b):
        return ((a*b)**0.5)

In [72]:
m = media()

In [73]:
m.geometrica(1,2)

1.4142135623730951

In [74]:
m.aritmetica(1,2)

1.5

In [75]:
m.harmonica(1,2)

1.3333333333333333

In [77]:
m.name

'media'

In [115]:
type(m)

__main__.media

### Exercicio

Dado argumento uma lista, retornar os elementos negativos

In [ ]:
filtra_negativos([0,1,-2,5,-10])

In [ ]:
[0,1,5]

In [82]:
def filtra_negativos(lista):
    lista_retorno = []
    for i in lista:
        if i >= 0:
            lista_retorno.append(i)
    return lista_retorno

In [83]:
filtra_negativos([0,1,-2,5,-10])

[0, 1, 5]

In [84]:
def filtra_negativos_2(lista):
    return [i for i in lista if i >= 0]

In [86]:
filtra_negativos_2([0,1,-2,5,-10])

[0, 1, 5]

### iterator e generator

In [100]:
def filtra_negativos_iterator(lista):
    lista_retorno = []
    for i in lista:
        if i >= 0:
            lista_retorno.append(i)
            print(i)

In [101]:
filtra_negativos_iterator([0,1,-2,5,-10])

0
1
5

In [102]:
def filtra_negativos_iterator(lista):
    lista_retorno = []
    for i in lista:
        if i >= 0:
            lista_retorno.append(i)
            yield i

In [105]:
list(filtra_negativos_iterator([0,1,-2,5,-10]))

[0, 1, 5]

In [107]:
for p in filtra_negativos_iterator([0,1,-2,5,-10]):
    print (p)

0
1
5

In [108]:
filtra_negativos_iterator([0,1,-2,5,-10])

# pandas e numpy

### pandas

In [109]:
import pandas as pd

In [ ]:
import webbrowser

url = "http://www.cbf.com.br/competicoes/brasileiro-serie-a/classificacao/2016#.WJG3B7YrJE4"

webbrowser.open_new(url)

In [192]:
# So reformatando dataframe para a aula

df = pd.read_clipboard(error_bad_lines=False)

b'Skipping line 5: expected 19 fields, saw 20\nSkipping line 9: expected 19 fields, saw 20\nSkipping line 11: expected 19 fields, saw 20\n'

In [193]:
df

,,,Classificação,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
1º,PALMEIRAS,-,SP,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
2º,SANTOS,-,SP,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
3º,FLAMENGO,-,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
5º,BOTAFOGO,-,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
6º,ATLÉTICO,-,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50
7º,CORINTHIANS,-,SP,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
9º,GRÊMIO,-,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46

In [194]:
df.reset_index(inplace=True)

df.drop(['level_0', 'level_2'], axis = 1, inplace = True)

df.rename(columns={'Classificação': 'UF', 'level_1': 'Equipe'}, inplace = True)

In [195]:
df

        Equipe  UF   P   J   V   E   D  GP  GC  SG  VM  VV  DM  DV  CA  CV   %
0    PALMEIRAS  SP  80  38  24   8   6  62  32  30  14  10   1   5  95   0  70
1       SANTOS  SP  71  38  22   5  11  59  35  24  15   7   2   9  74   4  62
2     FLAMENGO  RJ  71  38  20  11   7  52  35  17  12   8   2   5  62   5  62
3     BOTAFOGO  RJ  59  38  17   8  13  43  39   4  10   7   4   9  93   2  51
4     ATLÉTICO  PR  57  38  17   6  15  38  32   6  15   2   1  14  76   1  50
5  CORINTHIANS  SP  55  38  15  10  13  48  42   6  10   5   2  11  76   5  48
6       GRÊMIO  RS  53  38  14  11  13  41  44  -3  11   3   4   9  93   6  46

In [196]:
type(df)

pandas.core.frame.DataFrame

In [197]:
# Modulos para crawling
# import requests
# import BeautifulSoup

### metodos e atributos para checar caracteristicas do dataframe

In [198]:
df.shape

(7, 17)

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 17 columns):
Equipe    7 non-null object
UF        7 non-null object
P         7 non-null int64
J         7 non-null int64
V         7 non-null int64
E         7 non-null int64
D         7 non-null int64
GP        7 non-null int64
GC        7 non-null int64
SG        7 non-null int64
VM        7 non-null int64
VV        7 non-null int64
DM        7 non-null int64
DV        7 non-null int64
CA        7 non-null int64
CV        7 non-null int64
%         7 non-null int64
dtypes: int64(15), object(2)
memory usage: 1.0+ KB

In [200]:
df.dtypes

Equipe    object
UF        object
P          int64
J          int64
V          int64
E          int64
D          int64
GP         int64
GC         int64
SG         int64
VM         int64
VV         int64
DM         int64
DV         int64
CA         int64
CV         int64
%          int64
dtype: object

In [201]:
type(df)

pandas.core.frame.DataFrame

In [202]:
df.CV.dtype

dtype('int64')

### Indexing, Slicing

#### indexing de colunas

In [203]:
df['GC']

0    32
1    35
2    35
3    39
4    32
5    42
6    44
Name: GC, dtype: int64

In [204]:
df.GC

0    32
1    35
2    35
3    39
4    32
5    42
6    44
Name: GC, dtype: int64

In [205]:
df[['Equipe','GC', 'GP']]

        Equipe  GC  GP
0    PALMEIRAS  32  62
1       SANTOS  35  59
2     FLAMENGO  35  52
3     BOTAFOGO  39  43
4     ATLÉTICO  32  38
5  CORINTHIANS  42  48
6       GRÊMIO  44  41

#### diferenças entre pandas Series e pandas Dataframe

In [206]:
# pandas Series
df.GC

0    32
1    35
2    35
3    39
4    32
5    42
6    44
Name: GC, dtype: int64

In [207]:
type(df['GC'])

pandas.core.series.Series

In [208]:
df[['GC','P']]

   GC   P
0  32  80
1  35  71
2  35  71
3  39  59
4  32  57
5  42  55
6  44  53

In [209]:
type(df[['GC','P']])

pandas.core.frame.DataFrame

In [210]:
df[['GC']]

   GC
0  32
1  35
2  35
3  39
4  32
5  42
6  44

In [211]:
df.index = list('abcdefg')

In [212]:
df

        Equipe  UF   P   J   V   E   D  GP  GC  SG  VM  VV  DM  DV  CA  CV   %
a    PALMEIRAS  SP  80  38  24   8   6  62  32  30  14  10   1   5  95   0  70
b       SANTOS  SP  71  38  22   5  11  59  35  24  15   7   2   9  74   4  62
c     FLAMENGO  RJ  71  38  20  11   7  52  35  17  12   8   2   5  62   5  62
d     BOTAFOGO  RJ  59  38  17   8  13  43  39   4  10   7   4   9  93   2  51
e     ATLÉTICO  PR  57  38  17   6  15  38  32   6  15   2   1  14  76   1  50
f  CORINTHIANS  SP  55  38  15  10  13  48  42   6  10   5   2  11  76   5  48
g       GRÊMIO  RS  53  38  14  11  13  41  44  -3  11   3   4   9  93   6  46

#### Outras 3 maneiras de indexar e slicing: loc, iloc, ix

In [213]:
df.loc['a':'c','J']

a    38
b    38
c    38
Name: J, dtype: int64

In [214]:
df.loc['a':'c',['P', 'V']]

    P   V
a  80  24
b  71  22
c  71  20

In [215]:
df.loc[['a','d','e'],:]

      Equipe  UF   P   J   V  E   D  GP  GC  SG  VM  VV  DM  DV  CA  CV   %
a  PALMEIRAS  SP  80  38  24  8   6  62  32  30  14  10   1   5  95   0  70
d   BOTAFOGO  RJ  59  38  17  8  13  43  39   4  10   7   4   9  93   2  51
e   ATLÉTICO  PR  57  38  17  6  15  38  32   6  15   2   1  14  76   1  50

In [216]:
df.get_value('a','UF')

'SP'

In [217]:
UF_palmeiras = df.loc['a','UF']

In [218]:
UF_palmeiras

'SP'

In [219]:
df.loc['a','UF'] = "Sao Paulo"

In [220]:
df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
b,SANTOS,SP,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50
f,CORINTHIANS,SP,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46

In [221]:
df.loc[['a', 'b', 'f'], 'UF'] = "Sao Paulo"

In [222]:
df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46

In [223]:
df.iloc[1:3,2:4]

    P   J
b  71  38
c  71  38

In [224]:
df.ix['a':'d', 2:4]

    P   J
a  80  38
b  71  38
c  71  38
d  59  38

In [225]:
df.ix[2:5, ['V','D']]

    V   D
c  20   7
d  17  13
e  17  15

#### operacoes sobre colunas

In [226]:
df_jogos = df[['V','E','D','J']]

In [227]:
df_jogos

    V   E   D   J
a  24   8   6  38
b  22   5  11  38
c  20  11   7  38
d  17   8  13  38
e  17   6  15  38
f  15  10  13  38
g  14  11  13  38

In [228]:
df_jogos['total'] = df_jogos.V + df_jogos.E + df_jogos.D

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [229]:
df_jogos

    V   E   D   J  total
a  24   8   6  38     38
b  22   5  11  38     38
c  20  11   7  38     38
d  17   8  13  38     38
e  17   6  15  38     38
f  15  10  13  38     38
g  14  11  13  38     38

### Checando as variaveis no namespace

##### nome das variaveis

In [230]:
who

UF_palmeiras	 df	 df_jogos	 filtra_negativos	 filtra_negativos_2	 filtra_negativos_iterator	 i	 m	 media
media_aritmetica	 media_geometrica	 media_harmonica	 n	 p	 pd	 url	 webbrowser

##### nome, tipo e info das variaveis

In [231]:
whos

Variable                    Type         Data/Info
--------------------------------------------------
UF_palmeiras                str          SP
df                          DataFrame            Equipe         UF<...>nf   5  48  \ng   6  46
df_jogos                    DataFrame        V   E   D   J  total\<...>ng  14  11  13  38     38
filtra_negativos            function     <function filtra_negativos at 0x107dd1158>
filtra_negativos_2          function     <function filtra_negativos_2 at 0x107dd1950>
filtra_negativos_iterator   function     <function filtra_negativo<...>_iterator at 0x107d8ef28>
i                           int          10
m                           media        <__main__.media object at 0x107dc86d8>
media                       type         <class '__main__.media'>
media_aritmetica            function     <function media_aritmetica at 0x107dc90d0>
media_geometrica            function     <function media_geometrica at 0x107dc9a60>
media_harmonica             function     <function media_harmonica at 0x107dc97b8>
n                           media        <__main__.media object at 0x105ea1588>
p                           int          5
pd                          module       <module 'pandas' from '/L<...>ages/pandas/__init__.py'>
url                         str          http://www.cbf.com.br/com<...>ficacao/2016#.WJG3B7YrJE4
webbrowser                  module       <module 'webbrowser' from<...>python3.5/webbrowser.py'>

### sort

In [232]:
df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46

In [233]:
df.sort_values('D', inplace=True)

In [234]:
df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50

In [235]:
df.sort_values('D', ascending=False)

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70

In [236]:
df = df.sort_values('D', ascending=False)

In [237]:
df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70

In [238]:
df.sort_values(['D', 'SG'])

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50

### broadcast

In [239]:
df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70

In [240]:
df['Pais'] = ['Brasil'] * 7

df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%,Pais
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50,Brasil
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51,Brasil
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48,Brasil
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46,Brasil
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62,Brasil
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62,Brasil
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70,Brasil

In [241]:
del df['Pais']

In [242]:
df['Pais'] = 'Brasil'

df

,Equipe,UF,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%,Pais
e,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50,Brasil
d,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51,Brasil
f,CORINTHIANS,Sao Paulo,55,38,15,10,13,48,42,6,10,5,2,11,76,5,48,Brasil
g,GRÊMIO,RS,53,38,14,11,13,41,44,-3,11,3,4,9,93,6,46,Brasil
b,SANTOS,Sao Paulo,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62,Brasil
c,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62,Brasil
a,PALMEIRAS,Sao Paulo,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70,Brasil