# Aula 1 : 18/jan/2017

import pandas as pd

In [1]:
a = 3

In [2]:
a

3

In [3]:
type(a)

int

In [4]:
b = True

In [5]:
b

True

In [6]:
h = 'hello'
w = 'world'

In [7]:
print(h,w)

hello world

In [8]:
a + 4

7

In [9]:
h + w

'helloworld'

In [10]:
b = 0.3

In [11]:
type(b)

float

In [12]:
a + b

3.3

In [13]:
type(a+b)

float

In [14]:
h.upper()

'HELLO'

In [15]:
h.capitalize()

'Hello'

## listas, conjuntos e dicionarios

In [16]:
l = [3, 2, 0, -10]

In [17]:
l[1]

2

In [18]:
l[0:2]

[3, 2]

In [19]:
l[:2]

[3, 2]

In [20]:
l[2:]

[0, -10]

In [21]:
l[-1]

-10

In [22]:
l

[3, 2, 0, -10]

In [23]:
l.append(30)

In [24]:
l

[3, 2, 0, -10, 30]

In [25]:
l.remove(-10)

In [26]:
l

[3, 2, 0, 30]

In [27]:
l

[3, 2, 0, 30]

In [28]:
del l[2]

In [29]:
l

[3, 2, 30]

In [30]:
c = {10, 20, 30, -10, 20}

In [31]:
c

{-10, 10, 20, 30}

In [32]:
list(c)

[10, 20, -10, 30]

In [33]:
set(l)

{2, 3, 30}

In [34]:
d = {'a': -2, 'b': -3, 'c': -1000}

In [35]:
d

{'a': -2, 'b': -3, 'c': -1000}

In [36]:
d['b']

-3

In [37]:
d = {0: 'a', 1: 'b', 'x': 3}

In [38]:
d

{0: 'a', 1: 'b', 'x': 3}

In [39]:
type(list(d.keys())[2])

str

In [40]:
type(d['x'])

int

In [41]:
type(d[0])

str

In [42]:
d

{0: 'a', 1: 'b', 'x': 3}

In [43]:
d['x']

3

In [44]:
d.get('x', 0)

3

In [45]:
a = [1,3,4]

In [46]:
b = (1,3,4)

In [47]:
a.append(4)

In [48]:
a

[1, 3, 4, 4]

In [49]:
b.append(6)

AttributeError: 'tuple' object has no attribute 'append'

# Aula 2 : 26/jan/2017

## loops

In [60]:
range(5)

range(0, 5)

In [59]:
for c in range(10): 
    print(c)

0
1
2
3
4
5
6
7
8
9

In [62]:
c = [10, 20, 30, -10, 20]

In [64]:
list(enumerate(c))

[(0, 10), (1, 20), (2, 30), (3, -10), (4, 20)]

In [65]:
for e in enumerate(c):
    print(e)

(0, 10)
(1, 20)
(2, 30)
(3, -10)
(4, 20)

In [71]:
for i, e in enumerate(c):
    print(i, e)

0 10
1 20
2 30
3 -10
4 20

In [72]:
d = [1, 10, -3, 0, 'abc']

In [73]:
c

[10, 20, 30, -10, 20]

In [74]:
d

[1, 10, -3, 0, 'abc']

In [77]:
for e in zip(c, d, c):
    print(e)

(10, 1, 10)
(20, 10, 20)
(30, -3, 30)
(-10, 0, -10)
(20, 'abc', 20)

In [78]:
l = [1, 3, 5, 7, 9]

In [87]:
list(range(2,10,3))

[2, 5, 8]

In [88]:
l = []
for i in range(10):
    if i % 2 == 1: l.append(i)
print(l)

[1, 3, 5, 7, 9]

### list comprehension

In [89]:
[ i for i in range(10) if i % 2 == 1 ]

[1, 3, 5, 7, 9]

In [90]:
[ i if i % 2 == 1 else 0 for i in range(10)  ]

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [92]:
b = True
a = 5 if b == True else 10
print(a)

5

In [93]:
[[1,2,3], [2,3,4], [3,4,5]]

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [96]:
[ [i + j for i in range(1,4)] for j in range(0,3)  ]

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [97]:
[[1,0,0], [0,1,0], [0,0,1]]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [98]:
[[1 if i == j else 0 for i in range(3)] for j in range(3)]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [100]:
# [[[1 if i == j else 0 for i in range(3)] for j in range(3)] for k in range(3) ]

### dict comprehension

In [101]:
s = 'abc'

In [103]:
list(s)

['a', 'b', 'c']

In [104]:
{ k: v for k, v in zip(list(s), range(3))  }

{'a': 0, 'b': 1, 'c': 2}

In [105]:
list(zip(list(s), range(3)))

[('a', 0), ('b', 1), ('c', 2)]

In [106]:
{ k: v for k, v in [('a', 0), ('b', 1), ('c', 2)]  }

{'a': 0, 'b': 1, 'c': 2}

### Medindo tempo

In [130]:
%timeit for _ in range(1000): True

10000 loops, best of 3: 41 µs per loop

In [129]:
%%timeit 
for _ in range(1000): True

10000 loops, best of 3: 40.1 µs per loop

# Aula 2 : 1/fev/2017

### funções

In [22]:
def media_aritmetica(a,b):
    return (a+b)/2

In [23]:
media_aritmetica(1,5)

3.0

In [30]:
def media_harmonica(a,b):
    if (a == 0) or (b == 0):
        return 0
    else:    
        return (2/(1/a + 1/b))

In [25]:
def media_geometrica(a,b):
    return ((a*b)**0.5)

In [26]:
media_geometrica(1,5)

2.23606797749979

In [28]:
media_harmonica(1,5)

1.6666666666666667

### Exercicio

Dado argumento uma lista, retornar os elementos negativos

In [ ]:
filtra_negativos([0,1,-2,5,-10])

In [ ]:
[-2,-10]

# pandas e numpy

### pandas

In [62]:
import pandas as pd

In [63]:
import webbrowser

url = "http://www.cbf.com.br/competicoes/brasileiro-serie-a/classificacao/2016#.WJG3B7YrJE4"

webbrowser.open_new(url)

True

In [64]:
df = pd.read_clipboard(error_bad_lines=False)

b'Skipping line 5: expected 19 fields, saw 20\n'

In [65]:
df

,,,Classificação,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
1º,PALMEIRAS,-,SP,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
2º,SANTOS,-,SP,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
3º,FLAMENGO,-,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
5º,BOTAFOGO,-,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51

In [96]:
# import requests

# import BeautifulSoup

### checando e manipulando colunas e indices

In [56]:
df.shape

(5, 16)

In [57]:
df.index

MultiIndex(levels=[['1º', '2º', '3º', '5º', '6º'], ['ATLÉTICO', 'BOTAFOGO', 'FLAMENGO', 'PALMEIRAS', 'SANTOS'], ['-']],
           labels=[[0, 1, 2, 3, 4], [3, 4, 2, 1, 0], [0, 0, 0, 0, 0]])

In [58]:
df.columns

Index(['Classificação', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG', 'VM', 'VV',
       'DM', 'DV', 'CA', 'CV', '%'],
      dtype='object')

In [59]:
df.reset_index(inplace=True)

In [60]:
df

,level_0,level_1,level_2,Classificação,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
0,1º,PALMEIRAS,-,SP,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
1,2º,SANTOS,-,SP,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
2,3º,FLAMENGO,-,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
3,5º,BOTAFOGO,-,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
4,6º,ATLÉTICO,-,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50

In [61]:
df.drop(['level_0', 'level_2'], axis = 1, inplace = True)

In [62]:
df

,level_1,Classificação,P,J,V,E,D,GP,GC,SG,VM,VV,DM,DV,CA,CV,%
0,PALMEIRAS,SP,80,38,24,8,6,62,32,30,14,10,1,5,95,0,70
1,SANTOS,SP,71,38,22,5,11,59,35,24,15,7,2,9,74,4,62
2,FLAMENGO,RJ,71,38,20,11,7,52,35,17,12,8,2,5,62,5,62
3,BOTAFOGO,RJ,59,38,17,8,13,43,39,4,10,7,4,9,93,2,51
4,ATLÉTICO,PR,57,38,17,6,15,38,32,6,15,2,1,14,76,1,50

In [66]:
df = df.drop('Classificação', axis=1)

In [67]:
df

     level_1   P   J   V   E   D  GP  GC  SG  VM  VV  DM  DV  CA  CV   %
0  PALMEIRAS  80  38  24   8   6  62  32  30  14  10   1   5  95   0  70
1     SANTOS  71  38  22   5  11  59  35  24  15   7   2   9  74   4  62
2   FLAMENGO  71  38  20  11   7  52  35  17  12   8   2   5  62   5  62
3   BOTAFOGO  59  38  17   8  13  43  39   4  10   7   4   9  93   2  51
4   ATLÉTICO  57  38  17   6  15  38  32   6  15   2   1  14  76   1  50

### Indexing, Slicing

#### indexing de colunas

In [81]:
df['GC']

0    32
1    35
2    35
3    39
4    32
Name: GC, dtype: int64

In [82]:
df.GC

0    32
1    35
2    35
3    39
4    32
Name: GC, dtype: int64

In [73]:
df[['GC', 'GP']]

   GC  GP
0  32  62
1  35  59
2  35  52
3  39  43
4  32  38

#### Outras 3 maneiras de indexar e slicing: loc, iloc, ix

In [76]:
df.loc[0:3,'J']

0    38
1    38
2    38
3    38
Name: J, dtype: int64

In [77]:
df.loc[0:3,['P', 'V']]

    P   V
0  80  24
1  71  22
2  71  20
3  59  17

In [79]:
df.iloc[1:3,2:4]

    J   V
1  38  22
2  38  20

In [80]:
df.ix[1:3, 2:4]

    J   V
1  38  22
2  38  20
3  38  17

#### operacoes sobre colunas

In [90]:
df_jogos = df[['V','E','D','J']]

In [91]:
df_jogos

    V   E   D   J
0  24   8   6  38
1  22   5  11  38
2  20  11   7  38
3  17   8  13  38
4  17   6  15  38

In [92]:
df_jogos['total'] = df_jogos.V + df_jogos.E + df_jogos.D

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [93]:
df_jogos

    V   E   D   J  total
0  24   8   6  38     38
1  22   5  11  38     38
2  20  11   7  38     38
3  17   8  13  38     38
4  17   6  15  38     38

### Checando as variaveis no namespace

##### nome das variaveis

In [75]:
who

a	 b	 c	 d	 df	 h	 l	 name	 pd
pprint	 url	 w	 webbrowser

##### nome, tipo e info das variaveis

In [74]:
whos

Variable     Type         Data/Info
-----------------------------------
a            list         n=4
b            tuple        n=3
c            set          {10, 20, -10, 30}
d            dict         n=3
df           DataFrame                   Classifica<...>BOTAFOGO  -  93   2  51
h            str          hello
l            list         n=3
name         str          ___
pd           module       <module 'pandas' from '/L<...>ages/pandas/__init__.py'>
pprint       function     <function pprint at 0x102588840>
url          str          http://www.cbf.com.br/com<...>ficacao/2016#.WJG3B7YrJE4
w            str          world
webbrowser   module       <module 'webbrowser' from<...>python3.5/webbrowser.py'>